[main]
Find = alt-f7; f55; ctrl-f
Quit = alt-x; f10

[panel]
Up = up; k
Down = down; j
Left =
Right =
Top = alt-lt; home; left; h
Bottom = alt-gt; end; right; l
PageUp = pgup; ctrl-u; K
PageDown = pgdn; ctrl-d; J
CdParent = ctrl-pgup; backspace; ctrl-k
Enter = enter; ctrl-j

MarkDown = space

Search = alt-slash; alt-s; ctrl-s
