[main]
Find = alt-f7; f55; ctrl-f
Quit = alt-x; f10

[panel]
Up = up; k
Down = down; j
Left =
Right =
Top = alt-lt; home; left; h; K
Bottom = alt-gt; end; right; l; J
PageUp = pgup; ctrl-u
PageDown = pgdn; ctrl-d
CdParent = ctrl-pgup; backspace; H
Enter = enter; L

MarkDown = space

Search = alt-slash; alt-s; ctrl-s
